@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d3d3d3;
  --foreground: #171717;
}

body {
  margin-top: 3rem;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
